@tailwind base;
@tailwind components;
@tailwind utilities;


.showhum{
    transition: ease 0.5s;
    display: none;
}
.showclose{
    transition: ease 0.5s;
}
.showdefaultclose{
    transition: ease 1s;
    display: none;
}